body{
    font-family:'Montserrat';
}

#title{
    background-color: #ff4c68;
    color: white;
  }

    


#toph1{
    font-family:'Montserrat';
    size: 5rem;
    line-height: 1.5;
   
}

#containerfluidid {
    padding: 3% 15%;
}
 
 
     
/*  Navbar custm */

#navbarbrandid{
    font-family: "Ubuntu";
     font-size: 2.5rem;
     font-weight:bold ;
     padding-left: 1rem;
}
 

#navid{
    padding-bottom: 3rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-weight: 500;
    font-family:"Ubuntu" ;
}


/* button  */

.downloadbtn{
    margin: 5% 3% 15% 0;
}
.btn{
    margin-right: 0.2rem;
}

/* iphone image */



.titleimg{
    width: 23%;
    transform: rotate(25deg);
    margin-left: 83px;
    position: absolute;
      
}

@media (max-width:991px) {
  .titleimg{
    transform: rotate(0deg);
    width: 60%;
    margin-left: 0px;
    position: static;
}

#title{
  text-align:center;
}
}

/* features section */

  #features{
    padding: 7% 15%;
    background-color: #fff;
     position: relative;
     z-index: 1;
  }

  .feature-box{
    text-align: center;
    padding: 5%;
  }
  .h3c{
    font-family:'Montserrat';
    font-size: medium;

    
  }
  p{
    color: #8f8f8f;
  }

  .icon{
    color: #ef8172;
    margin-bottom: 1rem;
  }

  .icon:hover{
    color: #ff4c68;
  }

 /* Testimonial section  */

 #testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color:#fff ;

 }

 h2{
    font-family:'Montserrat';
    font-size: 3rem;
   
    
 }
 #h2id1{
    line-height: 1.5;
    
 }
 #h2id2{
  line-height: 1.2;
  font-size: 2rem;
  
}

 .testimonialimg{
width: 10%;
border-radius: 100%;
margin: 20px;
 }
 
 .carousel-inner{
  padding: 7% 15%;
 }
 /* press */

 #press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
 }
 .presslogo{
    width: 15%;
    margin: 20px 20px 50px;
 }

 /* cards */

 .cardbutton{
  width: 100%;
 }

 .pricingcard{
  padding: 3% 2%;
 }

 /* pricing */
 #pricing{
  padding: 100px;
  text-align: center;
 }

/* call to action */

#cta{
  color: #fff;
  text-align: center;
  background-color:#ff4c68 ;
  padding: 7% 15% 0;
}

  .callh3{
    font-size: 2.7rem;
    font-weight: 900;
    text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
  }

  .callactionbtn{
    text-align: center;
    margin: 5% 3% 14% 0;
  }
  

  /* footer section */

  #footer{
    text-align: center;
    padding: 6% 15%;
  }

  .socialicon{
    margin: 20px 8px;
    color: rgb(77, 73, 73);
  }
   
  .socialicon:hover{
    margin: 20px 8px;
    color: rgb(12, 12, 12);
  }
  .copyright{
    margin-top:0.2rem;
    font-family:'Montserrat';
    font-weight: 200;
  }